/*
 * Created with iconvau.lt
 */

@font-face {
  font-family: "iconvault";
  src: url("iconvault_50001d137e08f17db94c8f5b8862c9ab.eot");
  src: url("iconvault_50001d137e08f17db94c8f5b8862c9ab.eot?#iefix") format("embedded-opentype"),
       url("iconvault_50001d137e08f17db94c8f5b8862c9ab.woff") format("woff"),
       url("iconvault_50001d137e08f17db94c8f5b8862c9ab.ttf") format("truetype"),
       url("iconvault_50001d137e08f17db94c8f5b8862c9ab.svg#iconvault") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-translation:before,
.icon-cg:before,
.icon-interpretation:before,
.icon-interpretationservice:before,
.icon-medical:before,
.icon-medicalservice:before,
.icon-medicaldesign:before ,
.icon-cgservice:before ,
.icon-translationservice:before ,
.icon-design:before,
.icon-web:before ,
.icon-webservice:before {
  font-family: "iconvault";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-translation:before { content: "\f100"; padding:20px;border:2px solid #fa8329;border-radius:5px; }
.icon-cg:before { content: "\f101"; padding:20px;border:2px solid #fa8329;border-radius:5px; }
.icon-interpretation:before { content: "\f102";  padding:20px;border:2px solid #fa8329;border-radius:5px;}
.icon-interpretationservice:before { content: "\f102";  padding:20px;border:2px solid;border-radius:5px;}
.icon-medical:before { content: "\f103"; padding:20px;border:2px solid #fa8329 !important;border-radius:5px;}
.icon-medicalservice:before { content: "\f103"; padding:18px;border:0px solid;}
.icon-design:before { content: "\f104"; padding:20px;border:2px solid #fa8329;border-radius:5px; }
.icon-web:before { content: "\f105"; padding:20px;border:2px solid #fa8329;border-radius:5px; }
.icon-webservice:before { content: "\f105"; padding:20px;border:2px solid;border-radius:5px; }
.icon-medicaldesign:before { content: "\f104"; padding:18px;border:0px solid;}
.icon-cgservice:before { content: "\f101"; padding:18px;border:0px solid;}
.icon-translationservice:before { content: "\f100"; padding:18px;border:0px solid;}
.icon-translation:hover,
.icon-cg:hover,
.icon-interpretation:hover,
.icon-medical:hover,
.icon-design:hover,
.icon-web:hover {
  font-family: "iconvault";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  color:#fff !important;
 
  
}
 .preview-glyphs { vertical-align: bottom; }

.size-48 { font-size: 48px;}

.icon-translation:hover,
.icon-cg:hover,
.icon-interpretation:hover,
.icon-medical:hover,
.icon-design:hover,
.icon-web:hover {
  background: #fa6f06 !important;
  border-radius:5px;
}

/*towfic 02 november*/

.icon-medical:before {
  border: 2px solid;
  border-radius: 5px;
  content: "";
  padding: 20px;
}
.icon-medicalservice:before{

  border: 0px solid !important;
  border-radius: 5px;
  content: "\f103";
  padding: 13px;
  color:#ffffff !important;

}
.icon-medicaldesign:before
{

  border: 0px solid !important;
  border-radius: 5px;
  content: "\f104";
  padding: 8px 10px;
  color:#ffffff !important;

}
.icon-cgservice:before
{

  border: 0px solid !important;
  border-radius: 5px;
  content: "\f101";
  padding: 8px 10px;
  color:#ffffff !important;

}
.icon-translationservice:before
{

  border: 0px solid !important;
  border-radius: 5px;
  content: "\f100";
  padding: 8px 10px;
  color:#ffffff !important;

}
.icon-interpretationservice:before
{

  border: 0px solid !important;
  border-radius: 5px;
  content: "\f102";
  padding: 8px 10px;
  color:#ffffff !important;

}
.icon-webservice:before
{

  border: 0px solid !important;
  border-radius: 5px;
  content: "\f105";
  padding: 8px 10px;
  color:#ffffff !important;

}
.size-36 { font-size: 36px;}
 
